<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ceedbanalyze.mapper.SchoolMapper">

    <select id="search" resultType="com.example.ceedbanalyze.entity.School">
        select * from school
        <where>
            <if test="city != null and city!='' ">
                city = #{city}
            </if>
            <if test="type2 != null and type2!='' ">
                and type2 = #{type2}
            </if>
            <if test="type3 != null and type3!='' ">
                and type3 = #{type3}
            </if>
            <if test="name != null and name!='' ">
                and name like concat('%',#{name},'%')
            </if>
        </where>
    </select>
</mapper>